In [65]:
import pandas as pd

In [92]:
pasajeros = pd.read_html('https://en.wikipedia.org/wiki/Passengers_of_the_Titanic')

i = 4
#pasajeros

pasajeros[i].head()

pasajeros[i].tail()

In [93]:
for i in range(1,4,1):
    print(pasajeros[i].columns)
    print(pasajeros[i].shape)

Index(['Name', 'Age', 'Hometown', 'Boarded', 'Destination', 'Lifeboat',
       'Body'],
      dtype='object')
(326, 7)
Index(['Name', 'Age', 'Hometown', 'Boarded', 'Destination', 'Lifeboat',
       'Body'],
      dtype='object')
(278, 7)
Index(['Name', 'age', 'Hometown', 'Home country', 'Boarded', 'Destination',
       'Lifeboat', 'Body'],
      dtype='object')
(708, 8)

columnas = ('Hometown', 'Boarded', 'Destination', 'Lifeboat')

In [94]:
for j in range(1,4,1):
    df = pasajeros[j]
    df.drop(['Hometown', 'Boarded', 'Destination', 'Lifeboat','Body'], inplace=True, axis=1) #df.pop('Hometown', 'Boarded', 'Destination', 'Lifeboat')
    if j==3:
        df.pop('Home country')
    df['clase'] = j

In [95]:
df

                                      Name age  clase
0                      Abbing, Mr. Anthony  40      3
1       Abbott, Mrs. Rhoda Mary (née Hunt)  39      3
2              Abbott, Mr. Rossmore Edward  16      3
3                Abbott, Mr. Eugene Joseph  14      3
4    Abd al-Khaliq, Mr. Farid Qasim Husayn  18      3
..                                     ...  ..    ...
703          Youssef, Mr. Gerios (Sam'aan)  45      3
704        Zajib Qiyamah, Miss Adal "Jane"  15      3
705            Zakarian, Mr. Haroutyun Der  27      3
706                Zakarian, Mr. Mapri Der  22      3
707                    Zimmermann, Mr. Leo  29      3

[708 rows x 3 columns]

In [76]:
df.count()

Name           694
age            708
Hometown       669
Boarded        708
Destination    707
Lifeboat       182
Body            62
clase          708
dtype: int64

In [77]:
df.dtypes

Name           object
age            object
Hometown       object
Boarded        object
Destination    object
Lifeboat       object
Body           object
clase           int64
dtype: object